# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.FirstTest.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Aref\RiderProjects\FirstTest\.idea\.idea.FirstTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
